.loader-circle-102 {
  position: absolute;
  margin: auto;
  height: 50px;
  width: 50px;
  animation: anm-CL-102-rotate 3s linear infinite alternate-reverse;
  /* background: yellow; */
  bottom: 10%;
}
.loader-circle-102::before,
.loader-circle-102::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  border-width: 5px;
  border-style: solid;
  border-radius: 31.25rem;
}
.loader-circle-102::before {
  left: 0;
  transform: translateX(-50%);
  animation: anm-CL-102-move1 3s cubic-bezier(0.01, 0.44, 0.99, 0.33) infinite;
  border-color: #dfdf24;
}
.loader-circle-102::after {
  right: 0;
  transform: translateX(50%);
  animation: anm-CL-102-move2 3s cubic-bezier(0.01, 0.44, 0.99, 0.33) infinite;
  border-color: #2196f3;
}
@keyframes anm-CL-102-move1 {
  0%,
  10% {
    left: 0;
    height: 20%;
    width: 20%;
    z-index: 1;
  }
  29% {
    z-index: 2;
  }
  30% {
    left: 100%;
    height: 20%;
    width: 20%;
  }
  45% {
    height: 100%;
    width: 100%;
  }
  60% {
    left: 100%;
    height: 100%;
    width: 100%;
  }
  80% {
    left: 0;
    height: 100%;
    width: 100%;
  }
  90%,
  100% {
    left: 0;
    height: 20%;
    width: 20%;
    z-index: 1;
  }
}
@keyframes anm-CL-102-move2 {
  0%,
  10% {
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  30% {
    right: 100%;
    height: 100%;
    width: 100%;
  }
  45% {
    height: 20%;
    width: 20%;
  }
  60% {
    right: 100%;
    height: 20%;
    width: 20%;
    z-index: 1;
  }
  80% {
    right: 0;
    height: 20%;
    width: 20%;
    z-index: 2;
  }
  90%,
  100% {
    right: 0;
    height: 100%;
    width: 100%;
  }
}
@keyframes anm-CL-102-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
